@charset "UTF-8";
input[type=button] {
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 15px;
	-webkit-appearance: button;
	border: double 2px #00F;
	background-color: #02FFEE;
	white-space: nowrap;
	overflow: hidden;
	width: 20px;
	height: 20px;
}

input[type=button]:hover {
	background-color:#1607F5
}