<img src="images/farmfork.jpg" alt="steak made from grass">
<h4>
    The phrase, farm to table, commonly referred to as farm to fork, has become a national movement in recent years that encourages<br> consumers to minimize the distance their food travels before it’s eaten by buying food directly from growers. Though this practice isn't new, <br>its popularity has risen lately due to the growing concern over where our food comes from and how it's impacting local economies.<br> This concept, which has proved its staying power, encourages consumers to buy produce that is locally grown.
</h4>
 
 
