<img src="images/restaurant.jpg" alt="dining room">
<h2>
 Join Our Family!
 </h2>
<h3>At i heart harvest, we pay our lovely staff a living wage of $15 an hour + tips.<br> You will also enjoy extensive maternity leave for mothers <i>and</i> fathers<br> as well as 4 weeks paid vacation, a referral rewards program, and a hearty meal with every shift.</h3>
<br>
<form name="myForm" action="thanks.htm" onsubmit="return validateForm()" method="post">
<table cellspacing="2" cellpadding="2" border="0">
<tr>
    <td align="right">First Name</td>
    <td><input type="text" name="fname">
</td>
</tr>
<tr>
    <td align="right">Last Name</td>
    <td><input type="text" name="lname"></td>
</tr>
<tr>
    <td align="right">EMail</td>
    <td><input type="email" name="email" required placeholder="Enter a valid email address"></td>
</tr>
<tr>
    <td align="right">Phone</td>
    <td><input type="text" name="phone"></td>
</tr>

<tr>
    <td align="right">Address</td>
    <td><textarea cols="20" rows="5" name="address"></textarea></td>
</tr>
<tr>
	<td align="right">How do you travel?</td>
    <td><select id="select" class="form-control" required>
    <option value="" disabled="disabled">Category</option>
    <option value="car">Automobile</option>
  <option value="bike">Bicycle</option>
  <option value="bus">Public Transit</option>
  <option value="wald">I walk.</option>
</select>
    
	</td>
</tr>
<tr>
<td>
    <form name="radioOptions" method="post" action="#" onsubmit="return validateForm()">
  <input type="radio" name="gender" value="Male"> Male<br>
  <input type="radio" name="gender" value="Female"> Female<br>
  <input type="radio" name="gender" value="Both"> Both<br>
  <input type="radio" name="gender" value="Undecided"> Undecided<br>
  <input type="radio" name="gender" value="Beautiful Human"> Beautiful Human<br>
  <input type="button" onclick="myFunction()" value="Keep it Real">
  <br><br>
  <input type="text" id="order" size="50">
</form>
</td>
    <td align="right">
    <input type="image" src="images/submit.jpg" value="submit" border="0" height="50" width="50" alt="Submit" />
    <input type="reset" value="Reset" class="button" />
    </td>
</tr>
</table>
</form>


